<Configuration>
    <Server
        maxThreads="20"
        port="8080"/>
    <Plugin
        class="org.rsna.ctp.stdplugins.AuditLog"
        id="AuditLog-InBound"
        name="AuditLog-InBound"
        root="roots/AuditLog-InBound"/>
    <Plugin
        class="org.rsna.ctp.stdplugins.AuditLog"
        id="AuditLog-OutBound"
        name="AuditLog-OutBound"
        root="roots/AuditLog-OutBound"/>
    <Plugin
        arguments="-i=/home/squll1/Workspace/fused_test/in/{StudyInstanceUID} -o=/home/squll1/Workspace/fused_test/out --no-gui --quiet --delete-input-dir"
        class="org.rsna.ctp.plugin.StabilityExecPlugin"
        command="/home/squll1/Workspace/fused_test/python/dist/fusedtest/fusedtest"
        id="StabilityExec"
        minInterval="1000"
        name="StabilityExecPlugin"
        workingDir="/home/squll1/Workspace/fused_test/python/dist/fusedtest"/>
    <Pipeline
        name="Inbound"
        root="InBound">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="roots/DirectoryImportService/import"
            name="DirectoryImportService"
            quarantine="quarantines/DirectoryImportService"
            root="roots/DirectoryImportService"/>
        <DicomAuditLogger
            auditLogID="AuditLog-InBound"
            auditLogTags="PatientID;StudyDate;StudyDescription;PatientAge"
            class="org.rsna.ctp.stdstages.DicomAuditLogger"
            id="DicomAuditLogger-InBoud"
            level="study"
            name="DicomAuditLogger-InBoud"
            root="roots/DicomAuditLogger-InBoud"/>
        <DicomFilter
            class="org.rsna.ctp.stdstages.DicomFilter"
            name="DicomFilter"
            quarantine="quarantines/DicomFilter"
            root="roots/DicomFilter"
            script="scripts/DicomFilter.script"/>
        <DirectoryStorageService
            acceptDuplicates="yes"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            defaultString="emptyUID"
            logDuplicates="no"
            name="DirectoryStorageService"
            quarantine="quarantines/DirectoryStorageService"
            root="/home/squll1/Workspace/fused_test/in/"
            setStandardExtensions="no"
            structure="{StudyInstanceUID}/{SeriesNumber}/"
            whitespaceReplacement="_"/>
        <StabilityMonitorProcessor
            class="org.rsna.ctp.stdstages.StabilityMonitorProcessor"
            level="study"
            name="StabilityMonitorProcessor"
            root="roots/StabilityMonitorProcessor"
            targetID="StabilityExec"
            timeout="30"/>
    </Pipeline>
    <Pipeline
        name="Outbound"
        root="Outbound">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="roots/DirectoryImportService/import"
            name="DirectoryImportService"
            quarantine="quarantines/DirectoryImportService"
            root="roots/DirectoryImportService"/>
        <DicomAuditLogger
            auditLogID="AuditLog-OutBound"
            auditLogTags="PatientID;StudyDate;StudyDescription;PatientAge"
            class="org.rsna.ctp.stdstages.DicomAuditLogger"
            id="DicomAuditLogger-OutBound"
            level="study"
            name="DicomAuditLogger-OutBound"
            root="roots/DicomAuditLogger-OutBound"/>
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            name="HttpExportService"
            quarantine="quarantines/HttpExportService"
            root="roots/HttpExportService"
            sendDigestHeader="no"
            url=""/>
    </Pipeline>
</Configuration>
